<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink]='["/"]'>A100</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" (click)='toggle()'>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar"  [ngClass]='{ "in": isExpanded }'>    
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()' class="nav-link">
          <span class='glyphicon glyphicon-home'></span> Home
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/products"]' (click)='collapse()' class="nav-link">
          <span class='glyphicon glyphicon-th-list'></span> Products
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/about"]' (click)='collapse()' class="nav-link">
          <span class='glyphicon glyphicon-th-list'></span> About
        </a>
      </li>      
    </ul>
  </div>
  <div class="float float-xl-right">
    <app-shopping-cart-widget></app-shopping-cart-widget>
  </div>
</nav>
