<h2>Add New Product</h2>
<button class="btn btn-primary" [routerLink]="['/products']" routerLinkActive="router-link-active">Back</button>

<form (ngSubmit)="onProductSave(productForm)" #productForm="ngForm" novalidate>
  <br />
  <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>
  <div class="form-group" [class.has-error]="title.invalid && title.touched">
    <label for="Title" class="control-label">Title</label>
    <input type="text"
           name="Title"
           id="Title" class="form-control"
           [(ngModel)]="product.title"
           #title="ngModel"
           required />

    <div class="alert alert-danger"
         *ngIf="title.invalid && title.touched">
      Title is required.
    </div>

  </div>

  <div class="form-group" [class.has-error]="price.touched && (price.invalid || price.value <=0)">
    <label for="Price" class="control-label">Price</label>
    <input name="Price"
           type="number"
           id="Price" class="form-control"
           [(ngModel)]="product.price"
           #price="ngModel"
           minvalueValidator />

    <div class="alert alert-danger"
         *ngIf="price.touched && (price.value === null)">
      Price is required.
    </div>
    <div class="alert alert-danger"
         *ngIf="price.touched && (price.value !== null) && (price.value <= 0)">
      Price must be greater than 0.
    </div>
  </div>

  <div class="form-group">
    <label for="ImageUrl" class="control-label">Image</label>
    <input name="ImageUrl"
           type="text"
           id="ImageUrl" class="form-control"
           [(ngModel)]="product.imageUrl" />
  </div>

  <button class="btn btn-primary"
          type="submit"
          [disabled]="productForm.invalid">
    Save
  </button>
</form>
